{% extends "admin/base.html" %}
{% load static %}

{% block title %}SAIFI'S ERP{% endblock %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/custom.css' %}">
{% endblock %}

{% block branding %}
<h1 id="site-name">
    <a href="{% url 'admin:index' %}">SAIFI'S ERP</a>
</h1>
{% endblock %}

{% block userlinks %}
    <a href="{% url 'admin:index' %}">View site</a> /
    {% if user.has_usable_password %}
    <a href="{% url 'admin:password_change' %}">Change password</a> /
    {% endif %}
    <a href="{% url 'admin:logout' %}">Log out</a>
{% endblock %}

{% block nav-global %}{% endblock %}